name: CI
on: [push]
jobs:
  Test-Git-Meta:
    runs-on: ubuntu-latest
    steps:
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: sudo apt-get install libkrb5-dev
      - name: Check out repository code
        uses: actions/checkout@v2
      - run: git config --global user.name "A U Thor"
      - run: git config --global user.email author@example.com
      - run: yarn install
        working-directory: ${{ github.workspace }}/node
      - run: yarn test
        working-directory: ${{ github.workspace }}/node
      - run: echo "This job's status is ${{ job.status }}."
